.light__img {
    display: flex;
    margin-right: 0px;
    margin-top: 80px;
}

.light__container {
    display: flex;
}

.light__heading {
    width: 540px;
    color: #091133;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 6px;
    margin: 0px 0px 0px;
}

.light__paragraph {
    width: 540px;
    color: #6F7CB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

.light__title {
    margin-bottom: 0px;
    margin-top: 14px;
    width: 255px;
    color: #091133;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.light__img-paragraph {
    margin-top: 6px;
    width: 255px;
    color: #5D6970;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.light__img-item {
    margin-right: 30px;
}

.light__img-right {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .light__container {
        flex-direction: column; 
        padding-top: 20px; 
        display: block;
    }

    .light__heading,
    .light__paragraph {
        width: 100%; 
    }

    .light__img-block {
        margin-right: 0; 
    }

    .light__img-item {
        margin-bottom: 30px;
    }

    .light__img {
        flex-direction: column; 
        margin-right: 0; 
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
}
